.add-new-note-wrapper h1{
    margin: 0px;
}

.form-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form-wrapper input {
    padding: 10px 70px;

}

.form-wrapper button{
    padding: 10px 50px;
    background: black;
    color: #ffdd08;
    font-size: 15px;
    cursor: pointer;
}

.form-wrapper button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}